<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Dinamik Chart Uygulaması</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            Dinamik Chart Uygulaması
        </div>
    </header>
    @RenderBody()
</body>
</html>
